.header {
  background-image: url('/assets/padel_logo.png'); /* Ruta de la imagen que deseas usar como fondo */
  height: 100px;
  width: 100%;
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  background-size: 200px 100px;
  background-position: center left;
}

.session-btn {
  position: absolute;
  right: 0;
  top: 0;
}

