.header {
  background-image: url('/assets/padel_logo.png'); /* Ruta de la imagen que deseas usar como fondo */
  height: 200px;
  width: 100%;
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  background-size: 500px 200px;
  background-position: center center;
}

.session-btn {

    position: absolute; /* Establece la posición absoluta para el elemento */
    right: 0; /* Pega el elemento a la derecha */
    top: 0; /* Opcional: Pega el elemento en la parte superior del contenedor */
    /* ...Otros estilos para el elemento... */

}

